/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS Custom Code */

/* General Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: #101010;
}

img {
  width: 100%;
}

.aside {
  background-color: #e4503f;
  padding: 32px;
  position: fixed;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery {
  width: 75%;
  margin-left: 25%;
}

/* ----------------header------------------ */

/* typography */
.brand img {
  width: 100px;
}

.brand {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
}

.nav a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 4px;
  font-weight: 600;
}

/* layout */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ----------------article------------------ */

/* typography */
.article h2 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.article p {
  font-size: 12px;
  font-weight: 600;
}

/* layout */
.article {
  margin-top: auto;
}

.article {
  margin-right: 128px;
  margin-bottom: 32px;
}

.article h2 {
  margin-bottom: 16px;
}

/* ----------------footer------------------ */

/* typography */
.social-item {
  display: inline-block;
}

.social-link {
  display: inline-block;
  border: 2px solid #fff;
  height: 36px;
  width: 36px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

/* layout */
.social-item {
  margin-right: 12px;
}

/* ----------------gallery------------------ */

/* typography */
h1 {
  font-size: 44px;
  font-weight: 700;
}

/* layout */
h1 {
  text-align: center;
  padding: 16px 0;
}

.image-col {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.image-containers {
  display: flex;
  padding: 0 2%;
  justify-content: space-between;
}

.gallery-img {
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 16px;
}
